/* Primary Header */
h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #8E5C5D;
}

/* Body Text */


p {
	font-family: 'Indie Flower', cursive;
	color: #F25F8B;
	background: url("../img/upfeathers.png");
}

/* Baseline Links */

a:link,
a:visited {
	border-bottom: double double orange 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	background: orange;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #8E5C5D;
}

.color-2 {
	background: #F25F8B;
}

.pattern-1 {
	background: url("../img/upfeathers.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}