.banner {
	background-color: #C4634F;
	margin-top: -10px;
	margin-bottom: 30px;
}

body {
	background: url("../img/grey_wash_wall.png");
}

.container {
	background-color: #F6EEE4;
	height: 1000px;
}

.footer {
	margin-top: 100px;
	margin-bottom: -100px;
	text-align: center;
}

/* Primary Header */
h1 {
	font-family: 'Cinzel Decorative', cursive;
	color: #8C201F;
}

/* Secondary Header */

h2 {
	font-family: 'Droid Serif', serif;
	color: #C4634F;
}

h3 {
	font-family: 'Droid Serif', serif;
	color: #767676;
}

/* Logo */

img {
	margin: 10px;
}

/* Body Text */


p {
	font-family: 'Calibri';
	color: #000;
	background: url("../img/upfeathers.png");
}

/* Baseline Links */

a:active {
	color: #000;
	text-decoration: none;
}


/* Set Your Own Margin & Padding */
h1, h2, h3, p, em {
	margin: 10px;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #8C201F;
}

.color-2 {
	background: #C4634F; 
}

.color-3 {
	background: #767676;
}

.pattern-1 {
	background: url("../img/light_grey.png");
}

.pattern-2 {
	background: url("../img/wild_flowers.png");
}

.pattern-3 {
	background: url("../img/grey_wash_wall.png");
}