/* Primary Header */
h1 {
	font-family: 'Cinzel Decorative', cursive;
	color: #C4634F;
}

/* Secondary Header */

h2 {
	font-family: 'Cinzel', serif;
	color: #25356F;
}

/* Body Text */


p {
	font-family: 'Calibri';
	color: #767676;
	background: url("../img/upfeathers.png");
}s

/* Baseline Links */

a:link,
a:visited {
	border-bottom: double double orange 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	background: orange;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #C4634F;
}

.color-2 {
	background: #25356F;
}

.color-3 {
	background: #767676;
}

.pattern-1 {
	background: url("../img/light_grey.png");
}

.pattern-2 {
	background: url("../img/wild_flowers.png");
}

.pattern-3 {
	background: url("../img/grey_wash_wall.png");
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}